*{
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#lorem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    font-size: xx-large;
    text-align: center;
}

#lorem p:hover{
    font-size: 50px;
    transition: font-size 0.5s;
    margin: 20px 0;
}
/* Je place le titre au milieu de la page */
h1{
    margin-top: 30px;
    text-align: center;
}

#photoPrincipale{
    border: 1px solid black;
    width: 500px;
    height: 550px;
}

#photoPrincipale img{
    width: 500px;
    height: 550px;
}









/* Footer */


footer{
    flex-shrink: 0;
    border-top: 1px dashed #000;
    background: #201f30;
    color: #4b4a4a;
    margin-top: 50px;
    /* height: 400px; */
}

img{
    width: 20px;
}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}


/* contact */
.footer-contact h3, .footer-services h3, .footer-horaire h3, .footer-medias h3{
    font-size: 20px;
    padding-bottom: 20px;
}

.footer-contact p{
    padding: 5px;
}


/* services */
.liste-services, .liste-horaires, .liste-medias{
    list-style-type: none;
}

.liste-services li{
    padding: 2px 0;
}

.liste-services a{
    text-decoration: none;
    color: #333;
}

.liste-services a:hover{
    text-decoration: none;
    color: rgb(3, 3, 3);
}

/* medias */
.liste-medias{
    position: relative;
    right: 10px;
}

.liste-medias img{
    width: 20px;
    margin: 10px 10px;
}

.liste-medias a{
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 25px;
}

/* medias queries */
@media screen and (max-width:1300px){
    .contenu-footer{
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc{
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1), .bloc:nth-child(2){ /* permet de séléctionner des enfants dans une liste */
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px){
    .contenu-footer{
        width: 320px;
    }
    .bloc{
        width: 300px;
        margin: 30px;
    }
    .bloc:nth-child(1), .bloc:nth-child(2){
        margin-bottom: 30px;
    }
    .bloc:nth-child(1){
        margin-top: 0;
    }
}

#marque{
    background-color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}